.seccion_como_logramos {
    background-color: #fff;
    padding: 50px 0 50px;
    position: relative;

    .slider {
        .item {
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            font-family: 'IBMPlexSans-Regular'; 
            h3{

            }
        }
    }

    .slick-dots li button:before{
        font-size: 50px;
    }
}

@media (max-width:574px) {
    .seccion_como_logramos {}
}